.map-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* Aspect ratio of 16:9 */
  height: 0;
  overflow: hidden;
}

/* Make the iframe fill the container */
#map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
